<section class="property-binding">
<!-- <article>
    <h3>Oi</h3>
    <p>Pesquisar no: {{ url }}</p>
    <p>{{ 1 + 1 }}</p>
    <p>{{ getValor()}}</p>
</article>

<article>
    <img src="{{ urlImage }}" >
    <img [src]="urlImage" >
    <img bind-src="urlImage" >
</article> -->

<article>
    <h3>Class e Style Binding</h3>
    <div>
        Selecione uma classe
        <select  #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-warning">Alerta</option>
            <option value="alert-danger">Perigo</option>
        </select>
        <br><br>
        
        <div class="alert {{ classe.value }}">
            Texto Colorido
        </div>

        <div class="alert" role="alert" 
            [class.alert-success]="classe.value == 'alert-success'">Sucesso
        </div>
        <div class="alert" role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'">Alerta
        </div>
        <div class="alert" role="alert" 
            [class.alert-danger]="classe.value == 'alert-danger'">Perigo
        </div>

        <div class="alert" role="alert" 
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
           So qd for perigo
        </div>


    </div>
    
</article>

</section>